In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('data/schooldata.xls')

data.head()

,기준년도,시군명,지역교육청명,지역명,학교명,학교급명,설립구분명,주야간명,제외여부,제외사유,...,진학합계(명),진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%)
0,2018,가평군,경기도가평교육지원청,경기도 가평군,가평중학교,중학교,공립,주간,N,NaN,...,173.0,99.4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.6
1,2018,가평군,경기도가평교육지원청,경기도 가평군,가평북중학교,중학교,공립,주간,N,NaN,...,23.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018,가평군,경기도가평교육지원청,경기도 가평군,청심국제중학교,중학교,사립,주간,N,NaN,...,94.0,94.0,0.0,0.0,0.0,0.0,3.0,3.0,6.0,6.0
3,2018,가평군,경기도가평교육지원청,경기도 가평군,조종중학교,중학교,공립,주간,N,NaN,...,72.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,가평군,경기도가평교육지원청,경기도 가평군,청평중학교,중학교,공립,주간,N,NaN,...,107.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2650 entries, 0 to 2649
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   기준년도                   2650 non-null   int64
 1   시군명                    2650 non-null   object
 2   지역교육청명                 2650 non-null   object
 3   지역명                    2650 non-null   object
 4   학교명                    2650 non-null   object
 5   학교급명                   2650 non-null   object
 6   설립구분명                  2650 non-null   object
 7   주야간명                   2622 non-null   object
 8   제외여부                   2650 non-null   object
 9   제외사유                   28 non-null     object
 10  졸업남자수(명)               2622 non-null   float64
 11  졸업여자수(명)               2622 non-null   float64
 12  졸업합계(명)                2622 non-null   float64
 13  일반고진학남자수(명)            2622 non-null   float64
 14  일반고진학여자수(명)            2622 non-null   float64
 15  일반고진학합계(명)             2622 non-null   float64
 16  일반고진학비율(%)             2622 non-null   float64
 17  특성화고진학남자수(명)           2622 non-null   float64
 18  특성화고진학여자수(명)           2622 non-null   float64
 19  특성화고진학합계(명)            2622 non-null   float64
 20  특성화고진학비율(%)            2622 non-null   float64
 21  (특수목적고)과학고진학남자수(명)     2622 non-null   float64
 22  (특수목적고)과학고진학여자수(명)     2622 non-null   float64
 23  (특수목적고)과학고진학합계(명)      2622 non-null   float64
 24  (특수목적고)과학고진학비율(%)      2622 non-null   float64
 25  (특수목적고)외고ㆍ국제고진학남자수(명)  2622 non-null   float64
 26  (특수목적고)외고ㆍ국제고진학여자수(명)  2622 non-null   float64
 27  (특수목적고)외고ㆍ국제고진학합계(명)   2622 non-null   float64
 28  (특수목적고)외고ㆍ국제고진학비율(%)   2622 non-null   float64
 29  (특수목적고)예고ㆍ체고진학남자수(명)   2622 non-null   float64
 30  (특수목적고)예고ㆍ체고진학여자수(명)   2622 non-null   float64
 31  (특수목적고)예고ㆍ체고진학합계(명)    2622 non-null   float64
 32  (특수목적고)예고ㆍ체고진학비율(%)    2622 non-null   float64
 33  (특수목적고)마이스터고진학남자수(명)   2622 non-null   float64
 34  (특수목적고)마이스터고진학여자수(명)   2622 non-null   float64
 35  (특수목적고)마이스터고진학합계(명)    2622 non-null   float64
 36  (특수목적고)마이스터고진학비율(%)    2622 non-null   float64
 37  (자율고)자율형사립고진학남자수(명)    2622 non-null   float64
 38  (자율고)자율형사립고진학여자수(명)    2622 non-null   float64
 39  (자율고)자율형사립고진학합계(명)     2622 non-null   float64
 40  (자율고)자율형사립고진학비율(%)     2622 non-null   float64
 41  (자율고)자율형공립고진학남자수(명)    2622 non-null   float64
 42  (자율고)자율형공립고진학여자수(명)    2622 non-null   float64
 43  (자율고)자율형공립고진학합계(명)     2622 non-null   float64
 44  (자율고)자율형공립고진학비율(%)     2622 non-null   float64
 45  기타진학남자수(명)             2622 non-null   float64
 46  기타진학여자수(명)             2622 non-null   float64
 47  기타진학합계(명)              2622 non-null   float64
 48  기타진학비율(%)              2622 non-null   float64
 49  진학합계남자수(명)             2622 non-null   float64
 50  진학합계여자수(명)             2622 non-null   float64
 51  진학합계(명)                2622 non-null   float64
 52  진학합계비율(%)              2622 non-null   float64
 53  취업남자수(명)               2622 non-null   float64
 54  취업여자수(명)               2622 non-null   float64
 55  취업합계(명)                2622 non-null   float64
 56  취업비율(%)                2622 non-null   float64
 57  (미진학자)무직및미상남자수(명)      2622 non-null   float64
 58  (미진학자)무직및미상여자수(명)      2622 non-null   float64
 59  (미진학자)무직및미상합계(명)       2622 non-null   float64
 60  (미진학자)무직및미상비율(%)       2622 non-null   float64
dtypes: float64(51), int64(1), object(9)
memory usage: 1.2+ MB

In [4]:
myData = data[data['지역명']=='경기도 용인시 수지구'].copy()

In [5]:
myData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 456 to 2496
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   기준년도                   64 non-null     int64
 1   시군명                    64 non-null     object
 2   지역교육청명                 64 non-null     object
 3   지역명                    64 non-null     object
 4   학교명                    64 non-null     object
 5   학교급명                   64 non-null     object
 6   설립구분명                  64 non-null     object
 7   주야간명                   64 non-null     object
 8   제외여부                   64 non-null     object
 9   제외사유                   0 non-null      object
 10  졸업남자수(명)               64 non-null     float64
 11  졸업여자수(명)               64 non-null     float64
 12  졸업합계(명)                64 non-null     float64
 13  일반고진학남자수(명)            64 non-null     float64
 14  일반고진학여자수(명)            64 non-null     float64
 15  일반고진학합계(명)             64 non-null     float64
 16  일반고진학비율(%)             64 non-null     float64
 17  특성화고진학남자수(명)           64 non-null     float64
 18  특성화고진학여자수(명)           64 non-null     float64
 19  특성화고진학합계(명)            64 non-null     float64
 20  특성화고진학비율(%)            64 non-null     float64
 21  (특수목적고)과학고진학남자수(명)     64 non-null     float64
 22  (특수목적고)과학고진학여자수(명)     64 non-null     float64
 23  (특수목적고)과학고진학합계(명)      64 non-null     float64
 24  (특수목적고)과학고진학비율(%)      64 non-null     float64
 25  (특수목적고)외고ㆍ국제고진학남자수(명)  64 non-null     float64
 26  (특수목적고)외고ㆍ국제고진학여자수(명)  64 non-null     float64
 27  (특수목적고)외고ㆍ국제고진학합계(명)   64 non-null     float64
 28  (특수목적고)외고ㆍ국제고진학비율(%)   64 non-null     float64
 29  (특수목적고)예고ㆍ체고진학남자수(명)   64 non-null     float64
 30  (특수목적고)예고ㆍ체고진학여자수(명)   64 non-null     float64
 31  (특수목적고)예고ㆍ체고진학합계(명)    64 non-null     float64
 32  (특수목적고)예고ㆍ체고진학비율(%)    64 non-null     float64
 33  (특수목적고)마이스터고진학남자수(명)   64 non-null     float64
 34  (특수목적고)마이스터고진학여자수(명)   64 non-null     float64
 35  (특수목적고)마이스터고진학합계(명)    64 non-null     float64
 36  (특수목적고)마이스터고진학비율(%)    64 non-null     float64
 37  (자율고)자율형사립고진학남자수(명)    64 non-null     float64
 38  (자율고)자율형사립고진학여자수(명)    64 non-null     float64
 39  (자율고)자율형사립고진학합계(명)     64 non-null     float64
 40  (자율고)자율형사립고진학비율(%)     64 non-null     float64
 41  (자율고)자율형공립고진학남자수(명)    64 non-null     float64
 42  (자율고)자율형공립고진학여자수(명)    64 non-null     float64
 43  (자율고)자율형공립고진학합계(명)     64 non-null     float64
 44  (자율고)자율형공립고진학비율(%)     64 non-null     float64
 45  기타진학남자수(명)             64 non-null     float64
 46  기타진학여자수(명)             64 non-null     float64
 47  기타진학합계(명)              64 non-null     float64
 48  기타진학비율(%)              64 non-null     float64
 49  진학합계남자수(명)             64 non-null     float64
 50  진학합계여자수(명)             64 non-null     float64
 51  진학합계(명)                64 non-null     float64
 52  진학합계비율(%)              64 non-null     float64
 53  취업남자수(명)               64 non-null     float64
 54  취업여자수(명)               64 non-null     float64
 55  취업합계(명)                64 non-null     float64
 56  취업비율(%)                64 non-null     float64
 57  (미진학자)무직및미상남자수(명)      64 non-null     float64
 58  (미진학자)무직및미상여자수(명)      64 non-null     float64
 59  (미진학자)무직및미상합계(명)       64 non-null     float64
 60  (미진학자)무직및미상비율(%)       64 non-null     float64
dtypes: float64(51), int64(1), object(9)
memory usage: 31.0+ KB

In [6]:
myData.drop(columns=['지역교육청명', '학교급명', '설립구분명', '주야간명', '제외여부', '제외사유' ], inplace=True)

In [7]:
testDf = myData.copy()

testDf

,기준년도,시군명,지역명,학교명,졸업남자수(명),졸업여자수(명),졸업합계(명),일반고진학남자수(명),일반고진학여자수(명),일반고진학합계(명),...,진학합계(명),진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%)
456,2018,용인시,경기도 용인시 수지구,문정중학교,91.0,104.0,195.0,69.0,82.0,151.0,...,194.0,99.5,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.5
457,2018,용인시,경기도 용인시 수지구,용인대덕중학교,113.0,110.0,223.0,101.0,82.0,183.0,...,221.0,99.1,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.9
458,2018,용인시,경기도 용인시 수지구,손곡중학교,114.0,95.0,209.0,100.0,77.0,177.0,...,209.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
464,2018,용인시,경기도 용인시 수지구,상현중학교,112.0,137.0,249.0,99.0,110.0,209.0,...,249.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
465,2018,용인시,경기도 용인시 수지구,서원중학교,163.0,154.0,317.0,146.0,131.0,277.0,...,317.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2484,2015,용인시,경기도 용인시 수지구,신봉중학교,32.0,37.0,69.0,30.0,34.0,64.0,...,69.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2489,2015,용인시,경기도 용인시 수지구,현암중학교,80.0,68.0,148.0,66.0,60.0,126.0,...,147.0,99.3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7
2492,2015,용인시,경기도 용인시 수지구,용인대덕중학교,133.0,103.0,236.0,124.0,88.0,212.0,...,236.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2493,2015,용인시,경기도 용인시 수지구,손곡중학교,125.0,116.0,241.0,115.0,98.0,213.0,...,238.0,98.8,0.0,0.0,0.0,0.0,1.0,2.0,3.0,1.2
2496,2015,용인시,경기도 용인시 수지구,상현중학교,89.0,91.0,180.0,75.0,79.0,154.0,...,180.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
testDf['상위고등 진학 총계'] = testDf['(특수목적고)과학고진학합계(명)']+testDf['(특수목적고)외고ㆍ국제고진학합계(명)']+testDf['(자율고)자율형공립고진학합계(명)']

In [9]:
testDf['상위고등 진학 총계']

456      8.0
457     16.0
458      6.0
464      9.0
465     14.0
        ...
2484     0.0
2489     5.0
2492    12.0
2493     5.0
2496     8.0
Name: 상위고등 진학 총계, Length: 64, dtype: float64

In [10]:
dfTotal = testDf.copy()
dfTotal.sort_values('상위고등 진학 총계', axis=0, ascending=False, inplace=True)

In [11]:
dfTotal.head(10)

,기준년도,시군명,지역명,학교명,졸업남자수(명),졸업여자수(명),졸업합계(명),일반고진학남자수(명),일반고진학여자수(명),일반고진학합계(명),...,진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%),상위고등 진학 총계
1130,2017,용인시,경기도 용인시 수지구,이현중학교,178.0,175.0,353.0,162.0,156.0,318.0,...,99.7,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.3,19.0
475,2018,용인시,경기도 용인시 수지구,이현중학교,175.0,163.0,338.0,159.0,141.0,300.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
2458,2015,용인시,경기도 용인시 수지구,이현중학교,195.0,192.0,387.0,177.0,167.0,344.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0
457,2018,용인시,경기도 용인시 수지구,용인대덕중학교,113.0,110.0,223.0,101.0,82.0,183.0,...,99.1,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.9,16.0
1838,2016,용인시,경기도 용인시 수지구,수지중학교,232.0,217.0,449.0,204.0,189.0,393.0,...,98.7,0.0,0.0,0.0,0.0,1.0,5.0,6.0,1.3,16.0
469,2018,용인시,경기도 용인시 수지구,수지중학교,162.0,169.0,331.0,154.0,141.0,295.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
1157,2017,용인시,경기도 용인시 수지구,상현중학교,129.0,134.0,263.0,113.0,110.0,223.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
465,2018,용인시,경기도 용인시 수지구,서원중학교,163.0,154.0,317.0,146.0,131.0,277.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
2459,2015,용인시,경기도 용인시 수지구,정평중학교,230.0,219.0,449.0,212.0,197.0,409.0,...,99.6,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.4,13.0
1159,2017,용인시,경기도 용인시 수지구,성복중학교,139.0,134.0,273.0,116.0,111.0,227.0,...,99.3,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.7,12.0

In [12]:
totalYear = []

for i in range(2015, 2019) :
    print(i)
    temp = dfTotal[dfTotal['기준년도']==i].copy()
    totalYear.append(temp)

2015
2016
2017
2018

In [13]:
totalYear[0].head(10)

,기준년도,시군명,지역명,학교명,졸업남자수(명),졸업여자수(명),졸업합계(명),일반고진학남자수(명),일반고진학여자수(명),일반고진학합계(명),...,진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%),상위고등 진학 총계
2458,2015,용인시,경기도 용인시 수지구,이현중학교,195.0,192.0,387.0,177.0,167.0,344.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0
2459,2015,용인시,경기도 용인시 수지구,정평중학교,230.0,219.0,449.0,212.0,197.0,409.0,...,99.6,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.4,13.0
2492,2015,용인시,경기도 용인시 수지구,용인대덕중학교,133.0,103.0,236.0,124.0,88.0,212.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
2452,2015,용인시,경기도 용인시 수지구,수지중학교,244.0,213.0,457.0,229.0,186.0,415.0,...,99.8,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.2,10.0
2496,2015,용인시,경기도 용인시 수지구,상현중학교,89.0,91.0,180.0,75.0,79.0,154.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
2448,2015,용인시,경기도 용인시 수지구,서원중학교,192.0,148.0,340.0,180.0,130.0,310.0,...,100.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
2449,2015,용인시,경기도 용인시 수지구,성복중학교,159.0,156.0,315.0,148.0,136.0,284.0,...,98.7,0.0,0.0,0.0,0.0,0.0,3.0,4.0,1.3,6.0
2460,2015,용인시,경기도 용인시 수지구,죽전중학교,159.0,120.0,279.0,148.0,106.0,254.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
2469,2015,용인시,경기도 용인시 수지구,대지중학교,119.0,144.0,263.0,107.0,125.0,232.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
2489,2015,용인시,경기도 용인시 수지구,현암중학교,80.0,68.0,148.0,66.0,60.0,126.0,...,99.3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7,5.0

In [14]:
totalYear[1].head(10)

,기준년도,시군명,지역명,학교명,졸업남자수(명),졸업여자수(명),졸업합계(명),일반고진학남자수(명),일반고진학여자수(명),일반고진학합계(명),...,진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%),상위고등 진학 총계
1838,2016,용인시,경기도 용인시 수지구,수지중학교,232.0,217.0,449.0,204.0,189.0,393.0,...,98.7,0.0,0.0,0.0,0.0,1.0,5.0,6.0,1.3,16.0
1797,2016,용인시,경기도 용인시 수지구,정평중학교,207.0,222.0,429.0,193.0,202.0,395.0,...,99.5,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.5,12.0
1798,2016,용인시,경기도 용인시 수지구,이현중학교,216.0,193.0,409.0,199.0,179.0,378.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
1834,2016,용인시,경기도 용인시 수지구,서원중학교,222.0,181.0,403.0,211.0,163.0,374.0,...,99.3,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.7,11.0
1796,2016,용인시,경기도 용인시 수지구,죽전중학교,164.0,131.0,295.0,149.0,118.0,267.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1804,2016,용인시,경기도 용인시 수지구,용인대덕중학교,118.0,136.0,254.0,109.0,115.0,224.0,...,99.6,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.4,10.0
1835,2016,용인시,경기도 용인시 수지구,성복중학교,159.0,162.0,321.0,144.0,140.0,284.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1819,2016,용인시,경기도 용인시 수지구,대지중학교,153.0,128.0,281.0,146.0,109.0,255.0,...,99.6,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.4,8.0
1830,2016,용인시,경기도 용인시 수지구,문정중학교,114.0,117.0,231.0,95.0,101.0,196.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1820,2016,용인시,경기도 용인시 수지구,홍천중학교,154.0,162.0,316.0,143.0,146.0,289.0,...,99.7,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.3,6.0

In [15]:
totalYear[2].head(10)

,기준년도,시군명,지역명,학교명,졸업남자수(명),졸업여자수(명),졸업합계(명),일반고진학남자수(명),일반고진학여자수(명),일반고진학합계(명),...,진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%),상위고등 진학 총계
1130,2017,용인시,경기도 용인시 수지구,이현중학교,178.0,175.0,353.0,162.0,156.0,318.0,...,99.7,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.3,19.0
1157,2017,용인시,경기도 용인시 수지구,상현중학교,129.0,134.0,263.0,113.0,110.0,223.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
1159,2017,용인시,경기도 용인시 수지구,성복중학교,139.0,134.0,273.0,116.0,111.0,227.0,...,99.3,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.7,12.0
1162,2017,용인시,경기도 용인시 수지구,수지중학교,199.0,181.0,380.0,173.0,161.0,334.0,...,99.5,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.5,11.0
1173,2017,용인시,경기도 용인시 수지구,용인대덕중학교,133.0,111.0,244.0,120.0,90.0,210.0,...,99.6,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.4,11.0
1131,2017,용인시,경기도 용인시 수지구,정평중학교,196.0,166.0,362.0,181.0,153.0,334.0,...,99.4,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.6,11.0
1158,2017,용인시,경기도 용인시 수지구,서원중학교,187.0,180.0,367.0,177.0,161.0,338.0,...,99.5,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.5,9.0
1135,2017,용인시,경기도 용인시 수지구,홍천중학교,150.0,144.0,294.0,136.0,133.0,269.0,...,99.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,1.0,7.0
1132,2017,용인시,경기도 용인시 수지구,죽전중학교,140.0,119.0,259.0,117.0,104.0,221.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1154,2017,용인시,경기도 용인시 수지구,문정중학교,84.0,106.0,190.0,78.0,85.0,163.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [16]:
totalYear[3].head(10)

,기준년도,시군명,지역명,학교명,졸업남자수(명),졸업여자수(명),졸업합계(명),일반고진학남자수(명),일반고진학여자수(명),일반고진학합계(명),...,진학합계비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),(미진학자)무직및미상남자수(명),(미진학자)무직및미상여자수(명),(미진학자)무직및미상합계(명),(미진학자)무직및미상비율(%),상위고등 진학 총계
475,2018,용인시,경기도 용인시 수지구,이현중학교,175.0,163.0,338.0,159.0,141.0,300.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
457,2018,용인시,경기도 용인시 수지구,용인대덕중학교,113.0,110.0,223.0,101.0,82.0,183.0,...,99.1,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.9,16.0
469,2018,용인시,경기도 용인시 수지구,수지중학교,162.0,169.0,331.0,154.0,141.0,295.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
465,2018,용인시,경기도 용인시 수지구,서원중학교,163.0,154.0,317.0,146.0,131.0,277.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
466,2018,용인시,경기도 용인시 수지구,성복중학교,121.0,134.0,255.0,111.0,110.0,221.0,...,98.8,0.0,0.0,0.0,0.0,1.0,2.0,3.0,1.2,11.0
480,2018,용인시,경기도 용인시 수지구,홍천중학교,156.0,96.0,252.0,139.0,79.0,218.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
464,2018,용인시,경기도 용인시 수지구,상현중학교,112.0,137.0,249.0,99.0,110.0,209.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
456,2018,용인시,경기도 용인시 수지구,문정중학교,91.0,104.0,195.0,69.0,82.0,151.0,...,99.5,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.5,8.0
476,2018,용인시,경기도 용인시 수지구,정평중학교,179.0,144.0,323.0,163.0,127.0,290.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
477,2018,용인시,경기도 용인시 수지구,죽전중학교,91.0,103.0,194.0,77.0,87.0,164.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0